[Unit]
Description=Mycroft skills provider
After=network.target local-fs.target remote-fs.target mycroft-bus.service
Requires=mycroft-bus.service
PartOf=mycroft.target

[Service]
Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p %h/.mycroft/opt/skills/deps
ExecStart=/usr/bin/env PYTHONPATH=${HOME}/.mycroft/opt/skills/deps /usr/bin/mycroft-skills
TimeoutStopSec=2s

[Install]
WantedBy=multi-user.target
